<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<security:http auto-config="true" use-expressions="true">
		<security:form-login 	login-processing-url="/j_spring_security_check"
								login-page="/login"
								authentication-failure-url="/login?login_error=t"/>
		<security:intercept-url pattern="/vehicle/**" access="ROLE_ADMIN"/>
	</security:http>

	<security:user-service id="userServices">
		<security:user name="Sandeep" password="Javaranch" authorities="ROLE_ADMIN"/>
		<security:user name="Dipi" password="Javaranch" authorities="ROLE_GUEST"/>
	</security:user-service>
	
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userServices"/>
	</security:authentication-manager>	
</beans>
